* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp2246163.jpg");
  background-size: cover;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.white-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #c0c0c0;
  color: white;
  padding: 5px;
}
.style2 {
  color: whitesmoke;
}

.tryWrap {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
